<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571895727465-ip6t1dtiqdmabqnlrp9brb2tc1uujg83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571895727465-ip6t1dtiqdmabqnlrp9brb2tc1uujg83</string>
	<key>API_KEY</key>
	<string>AIzaSyA-sqoptmClu7IIhmhK1KqwVzGHhX3g1jM</string>
	<key>GCM_SENDER_ID</key>
	<string>571895727465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uni.uniapp</string>
	<key>PROJECT_ID</key>
	<string>uniapp-6c7b4</string>
	<key>STORAGE_BUCKET</key>
	<string>uniapp-6c7b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571895727465:ios:45b33328c04057227a29f8</string>
	<key>DATABASE_URL</key>
	<string>https://uniapp-6c7b4-default-rtdb.firebaseio.com</string>
</dict>
</plist>